@using Microsoft.AspNetCore.Identity
@using ACC_Tour.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid bg-primary px-5 d-none d-lg-block">
    <div class="row gx-0">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-twitter fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-instagram fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href=""><i class="fab fa-youtube fw-normal"></i></a>
            </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle text-light" data-bs-toggle="dropdown">
                            <small><i class="fa fa-user me-2"></i>@User.Identity.Name</small>
                        </a>
                        <div class="dropdown-menu rounded">
                            <a asp-controller="Account" asp-action="Profile" class="dropdown-item">
                                <i class="fas fa-user-alt me-2"></i>Thông tin cá nhân
                            </a>
                            <a asp-controller="Booking" asp-action="Index" class="dropdown-item">
                                <i class="fas fa-history me-2"></i>Lịch sử đặt tour
                            </a>
                            <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                <button type="submit" class="dropdown-item">
                                    <i class="fas fa-sign-out-alt me-2"></i>Đăng xuất
                                </button>
                            </form>
                        </div>
                    </div>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Register" class="me-3 text-light">
                        <small><i class="fa fa-user me-2"></i>Đăng ký</small>
                    </a>
                    <a asp-controller="Account" asp-action="Login" class="me-3 text-light">
                        <small><i class="fa fa-sign-in-alt me-2"></i>Đăng nhập</small>
                    </a>
                }
            </div>
        </div>
    </div>
</div>

<style>
    .dropdown-menu {
        margin-top: 0.5rem;
        border: none;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    .dropdown-item {
        padding: 0.5rem 1rem;
    }

    .dropdown-item:hover {
        background-color: var(--bs-primary);
        color: white;
    }

    .dropdown-item i {
        width: 1.2rem;
        text-align: center;
    }
</style>
