@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dịch vụ";
}

<partial name="_PageHeader" />

<!-- Service Start -->
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h1 class="mb-3">Dịch vụ</h1>
            <p class="mb-0">Những đánh giá chân thực từ khách hàng đã trải nghiệm dịch vụ của chúng tôi</p>
        </div>
        <div class="owl-carousel service-carousel">
            <div class="service-item rounded p-4">
                <div class="d-flex align-items-center mb-4">
                    <img class="img-fluid rounded-circle flex-shrink-0" src="~/img/service-1.jpg" style="width: 100px; height: 100px;">
                    <div class="ms-4">
                        <h5 class="mb-1">Nguyễn Văn A</h5>
                        <p class="mb-1">Du khách</p>
                        <div>
                            <small class="fa fa-star text-warning"></small>
                            <small class="fa fa-star text-warning"></small>
                            <small class="fa fa-star text-warning"></small>
                            <small class="fa fa-star text-warning"></small>
                            <small class="fa fa-star text-warning"></small>
                        </div>
                    </div>
                </div>
                <p class="mb-0">Dịch vụ rất tốt, hướng dẫn viên nhiệt tình. Chuyến đi để lại nhiều kỷ niệm đẹp.</p>
            </div>
            <div class="service-item rounded p-4">
                <div class="d-flex align-items-center mb-4">
                    <img class="img-fluid rounded-circle flex-shrink-0" src="~/img/service-2.jpg" style="width: 100px; height: 100px;">
                    <div class="ms-4">
                        <h5 class="mb-1">Trần Thị B</h5>
                        <p class="mb-1">Du khách</p>
                        <div>
                            <small class="fa fa-star text-warning"></small>
                            <small class="fa fa-star text-warning"></small>
                            <small class="fa fa-star text-warning"></small>
                            <small class="fa fa-star text-warning"></small>
                            <small class="fa fa-star text-warning"></small>
                        </div>
                    </div>
                </div>
                <p class="mb-0">Dịch vụ rất tốt, hướng dẫn viên nhiệt tình. Chuyến đi để lại nhiều kỷ niệm đẹp.</p>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Testimonial Start -->
<div class="container-fluid testimonial py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h1 class="mb-3">Khách hàng nói gì về chúng tôi</h1>
            <p class="mb-0">Những đánh giá chân thực từ khách hàng đã trải nghiệm dịch vụ của chúng tôi</p>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item rounded p-4">
                <div class="d-flex align-items-center mb-4">
                    <img class="img-fluid rounded-circle flex-shrink-0" src="~/img/testimonial-1.jpg" style="width: 100px; height: 100px;">
                    <div class="ms-4">
                        <h5 class="mb-1">Nguyễn Văn A</h5>
                        <p class="mb-1">Du khách</p>
                        <div>
                            <small class="fa fa-star text-warning"></small>
                            <small class="fa fa-star text-warning"></small>
                            <small class="fa fa-star text-warning"></small>
                            <small class="fa fa-star text-warning"></small>
                            <small class="fa fa-star text-warning"></small>
                        </div>
                    </div>
                </div>
                <p class="mb-0">Dịch vụ rất tốt, hướng dẫn viên nhiệt tình. Chuyến đi để lại nhiều kỷ niệm đẹp.</p>
            </div>
            <div class="testimonial-item rounded p-4">
                <div class="d-flex align-items-center mb-4">
                    <img class="img-fluid rounded-circle flex-shrink-0" src="~/img/testimonial-2.jpg" style="width: 100px; height: 100px;">
                    <div class="ms-4">
                        <h5 class="mb-1">Trần Thị B</h5>
                        <p class="mb-1">Du khách</p>
                        <div>
                            <small class="fa fa-star text-warning"></small>
                            <small class="fa fa-star text-warning"></small>
                            <small class="fa fa-star text-warning"></small>
                            <small class="fa fa-star text-warning"></small>
                            <small class="fa fa-star text-warning"></small>
                        </div>
                    </div>
                </div>
                <p class="mb-0">Dịch vụ rất tốt, hướng dẫn viên nhiệt tình. Chuyến đi để lại nhiều kỷ niệm đẹp.</p>
            </div>
        </div>
    </div>
</div>
